<body>

  <section class="u-py-100 u-h-50vh u-flex-center main-bg-back-8">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <h1 class="text-center display-3 u-fw-600 hero-text">Learn on your own</h1>
      <h4 class="text-center hero-text">Don't want to hire me? Here are some free <br> and paid courses to help you do it yourself.</h4>
    </div>
  </div>
</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center"> Take these courses on the go.</h2>
				<div class="u-h-4 u-w-50 bg-blue rounded mt-4 u-mb-20 mx-auto"></div>
			</div>
		</div>
	</div>
</section>

<body></body>