<footer>
<section class="bg-orange-light">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 mb-5">
            <h2 class="text-white">Devdap</h2>
            <p class="u-my-40 text-white-light">
               Nam liber tempor cum soluta nobis eleifend they option congue is nihil
               imper per tem por legere is me velit doming vulputate.
               Nam liber tempor cum soluta nobis eleifend they option congue is nihil
               imper per tem por legere is me velit doming vulputate.
            </p>
         </div>
         <div class="col-lg-2 col-md-6 mb-5 ml-auto">
            <h4 class="text-white">Fiverr/Upwork</h4>
            <div class="u-h-4 u-w-50 bg-light1 rounded mt-3 u-mb-40"></div>
            <ul class="list-unstyled u-lh-2 text-white-light">
               <li class="mb-3"><a href="#">Online Marketing</a></li>
               <li class="mb-3"><a href="#">Online Advertising</a></li>
               <li class="mb-3"><a href="#">Graphic Design</a></li>
               <li class="mb-3"><a href="#">Web Development</a></li>
               <li class="mb-3"><a href="#">Upwork Profile</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-6 mb-5 ml-auto">
            <h4 class="text-white">About</h4>
            <div class="u-h-4 u-w-50 bg-light1 rounded mt-3 u-mb-40"></div>
            <ul class="list-unstyled u-lh-2 text-white-light">
               <li class="mb-3"><a href="#">My Story </a> </li>
               <li class="mb-3"><a href="#">Pay Me In Bitcoin </a> </li>
               <li class="mb-3"><a href="#">Join My Team </a> </li>
               <li class="mb-3"><a href="#">Blog </a></li>
            </ul>
         </div>
         <div class="col-lg-3 col-md-6 mb-5 ml-auto">
            <h4 class="text-white">Contact</h4>
            <div class="u-h-4 u-w-50 bg-light1 rounded mt-3 u-mb-40"></div>
            <ul class="list-unstyled text-white-light">
               <li class="mb-3">
                  <a href="mailto:support@devdaptheme.com">contact@thiagorodsantos.com</a>
               </li>
               <li class="mb-3">
                   Boston, MA
               </li>
            </ul>
            <ul class="list-inline social social-rounded mt-4">
               <li class="list-inline-item">
                  <a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<section class="u-py-40 bg-light1">
   <div class="container">
      <p class="mb-0 text-center">
         &copy; Copyright 2019 - Thiago Santos
      </p>
   </div>
</section>
</footer>
